POSTGRES_USER=tonalys
POSTGRES_PASSWORD=changeme
POSTGRES_DB=tonalys

RABBITMQ_USER=tonalys
RABBITMQ_PASSWORD=changeme

MINIO_ROOT_USER=tonalys
MINIO_ROOT_PASSWORD=changeme12345

JWT_SECRET=changeme
AUTH_PASSWORD_HASH=changeme